.cart {
    padding: 1rem;
    margin: 1rem;
    display: flex;
}
.cart-header {
    border-bottom: 0.1rem #c0c0c0 solid;
}
.cart-items {
    padding: 0;
    width: 100%;
    list-style-type: none;
 }
 .cart-items li{
    display: flex;
 }
 .cart-items li div {
    padding: 0.5rem;
 }
 .cart-items li div img {
    height: 20vh;
 }
 .cart-items li div:last-child {
    flex: 1
 }
 .right {
    text-align: right;
 }
 .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 }
 .total > div, .total > .remove-button {
    flex: 1
 }
.remove-button {
   border-radius: 50% ;
   border-color: #405;
}
.cart-item-btn {
   border: none;
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
    border: 1px;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: rgb(200, 142, 254);
    color: #fff;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 200;
    position: relative;
    cursor: pointer;
    transition: all .3s linear;
}