/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
} */
/* 
html, body {
    height: 100%;
    background-color: #152733;
    overflow: hidden;
} */


.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      min-height: 100vh;
      /* background:#A8D8DF; */
      padding: 1.5rem;
        background-repeat: no-repeat !important;
        /* background-image: url(https://lirp.cdn-website.com/c056d3a8/dms3rep/multi/opt/Contact-BG-1920w.jpg) !important; */
        background-image: url(../../assets/images/Information\ Background\ Photo.png) !important;
        background-size: cover !important;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.form-content h3 {
    color: #fff;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
}

.form-content h3.form-title {
    margin-bottom: 30px;
}

.form-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}


.btn-primary{
    background-color: #6C757D;
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #495056;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: #fff;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: #8D8D8D;
    outline: none;
    resize: none;
    height: 120px;
    -webkit-transition: none;
    transition: none;
    margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: #ebeff8;
    color: #8D8D8D;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

.invalid-feedback{
    color: #ff606e;
}

.valid-feedback{
   color: #2acc80;
}

/* contactus infra */
form.contact-form {
	/* max-width: 400px; */
	margin: 0 auto;
    padding: 0 2.5rem;
  }
  
  form.contact-form .form-group {
	margin-bottom: 20px;
  }
  
  form.contact-form label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
  }
  
  form.contact-form input[type="text"],
  form.contact-form input[type="email"],
  form.contact-form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  form.contact-form textarea {
	height: 120px;
  }
  
  form.contact-form button[type="submit"] {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  form.contact-form button[type="submit"]:hover {
	background-color: #45a049;
  }

  .submit-box{
	margin-top: 2em;
  }

  .reset-button {
	background-color: #4091bf !important;
  } 

  @media screen and (min-width : 737px){
	.reset-button {
		margin-left: 2rem;
	}
  }
/* contactus styles */
.contactus-title h3 {
    color: #000;
    text-align: center;
    font-family: Italianno;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* height: 4rem; */
}

.contactus-desc p{
    font-size: 1.2rem;
}

.contactus-form-wrapper {
    padding: 2rem 0 0;
    width: 100%;
}

.contact.address-part {
	/* background: rgba(23,162,184,0.05) none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 0 5px #dedfe3; */
    padding: 50px;
    min-height: 30rem;
    font-size: 1.2rem;
    color: #000;
 }
 .contact.address-part h3 {
    font-size: 1.3rem;
 }
 .contact .form-part {
	background: #fff none repeat scroll 0 0;
	border-radius: 3px;
	box-shadow: 0 0 5px #dedfe3;
	padding: 50px;
	min-height: 450px;
 }
 .input-shadow {
	box-shadow: 0 0 5px #dedfe3;
 }
 .row.gtr-uniform {
    margin-top: -50px;
}

    .row.gtr-uniform > * {
        padding-top: 50px;
    }
ul.actions li {
    display: inline-block;
    padding: 0 0 0 0.25em;
    margin: 0 0 0 0.25em;
}

    ul.actions li:first-child {
        margin-left: 0;
        padding-left: 0;
    }
.form-buttons {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    }
.form-row {
    justify-content: space-evenly;
    align-items: baseline;
    width: 100%;
}