.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    /* height: 35rem; */
    /* height: 400px; */
}
.slide {
    border-radius: 0.2rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 28rem;
    object-fit: cover;
}

.slide-hidden {
    display: none;
}

.indicators{
    position: absolute;
    display: flex;
    bottom: 0rem;
}
.indicator{
    background-color: white;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}
.indicator-inactive {
    background-color: gray;
}

.arrow{
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    filter: drop-shadow(0px 0px 5px #555);
}
.arrow:hover {
    cursor: pointer;
}
.arrow-left{
    left: 1rem;
}
.arrow-right{
    right: 1rem;
}
@media only screen and (max-width: 991px) {
.slide{
    object-fit: scale-down;
}
}