footer {
    margin: 2.5em 0 0 0;
}
#footer-wrapper {
    background-color: var(--classic-blue);
    /* background: linear-gradient(to bottom right, var(--primary-color), 15%, transparent), radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px, linear-gradient(to bottom right, var(--logo-blue), var(--logo-blue)); */
    
}

#footer {
    margin-bottom: 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    padding: 1.7rem;
}

    #footer h2 {
        font-size: 1.35em;
        color: #fff;
        text-transform: uppercase; 
        margin: 1.5rem auto 1.5rem;
    }

    #footer strong {
        color: #fff;
    }

    #footer a {
        color: white;
        text-decoration: none;
    }

    #footer .button.alt {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25);
    }

    #footer ul.divided li, #footer ul.menu li {
        border-color: #444;
        border-color: rgba(255, 255, 255, 0.075);
        margin: .5rem auto;
    }

    #footer ul.divided li a {
        text-decoration: none;
        text-transform: uppercase;
    }
    #footer ul{
        list-style: none;
        border-left: 1px solid cornsilk;
    }
    #footer ol{
        list-style: none;
    }
    #footer ul.menu {
        margin: 0;
    }

    #footer dl.contact dt, #footer dl.contact dd {
        color: #fdfff5;
    }


#copyright {
    border-top: solid 1px;
    border-color: #444;
    border-color: rgba(255, 255, 255, 0.075);
    text-align: center;
    margin-top: 2em;
    padding: 3em 0 4em 0;
    color: #fdfff5;
    font: 700 13px "Poppins-Light"
    /* color: inherit; */
}

    #copyright a {
        color: inherit;
    }

    #footer-wrapper {
        padding: 4.5em 0 0.5em 0;
    }

@media screen and (max-width: 736px){
    #footer-wrapper {
        padding: 3em 20px 0.5em 20px;
    }

        #footer-wrapper section, #footer-wrapper article {
            margin-bottom: 3em !important;
        }
        #copyright {
            margin-top: 0;
            padding: 3em 0 1em 0;
        }
}
footer.minor::before {
	content: '';
	display: block;
	border-top: solid 1px #dbdbdb;
	height: 8px;
  }
  footer .minor {
	border-bottom: solid 1px #dbdbdb;
  	margin: 0 0 3em 0;
  }
  footer.minor {
	display: flex; /* Use flexbox */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	text-align: center; /* Center text within the <span> */
	flex-direction: column; /* Stack items vertically (if you have multiple items) */
	padding: 2rem; /* Add padding as needed */
  }
  /* .row > .imp-medium {
    order: -1;
} */