footer {
    margin: 2.5em 0 0 0;
}
#footer-wrapper {
    /*background: linear-gradient(to bottom right, var(--primary-color), 15%, transparent), radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px, linear-gradient(to bottom right, var(--logo-blue), var(--logo-blue));*/
     /* background-color: var(--primary-color); 
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("images/bg03.png"), url("images/bg02.png");
    background-repeat: repeat-x, no-repeat, repeat;
    position: relative;
    background-size: 100% 100%, 100% 15em, auto auto;
    background-position: top left, top center, top left;
    padding: 7em 0 7em 0; */
}

#footer {
    margin-bottom: 0;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    padding: 1.7rem;
}

    #footer h2 {
        font-size: 1.35em;
        color: #fff;
        text-transform: uppercase;    }

    #footer strong {
        color: #fff;
    }

    #footer a {
        color: white;
    }

    #footer .button.alt {
        box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.75), inset 0px 2px 1px 0px rgba(255, 255, 255, 0.25);
    }

    #footer ul.divided li, #footer ul.menu li {
        border-color: #444;
        border-color: rgba(255, 255, 255, 0.075);
        margin: .5rem auto;
    }

    #footer ul.divided li a {
        text-decoration: none;
        text-transform: uppercase;
    }
    #footer ul{
        list-style: none;
    }
    #footer ul.menu {
        margin: 0;
    }

    #footer dl.contact dt {
        color: #ddd;
    }

#copyright {
    border-top: solid 1px;
    border-color: #444;
    border-color: rgba(255, 255, 255, 0.075);
    text-align: center;
    margin-top: 2em;
    padding: 3em 0 4em 0;
    color: #ddd;
    /* color: inherit; */
}

    #copyright a {
        color: inherit;
    }

    #footer-wrapper {
        padding: 4.5em 0 4.5em 0;
    }

@media screen and (max-width: 736px){
    #footer-wrapper {
        padding: 3em 20px 3em 20px;
    }

        #footer-wrapper section, #footer-wrapper article {
            margin-bottom: 3em !important;
        }
        #copyright {
            margin-top: 0;
            padding: 3em 0 1em 0;
        }
}
footer.minor::before {
	content: '';
	display: block;
	border-top: solid 1px #dbdbdb;
	height: 8px;
  }
  footer .minor {
	border-bottom: solid 1px #dbdbdb;
  	margin: 0 0 3em 0;
  }
  footer.minor {
	display: flex; /* Use flexbox */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	text-align: center; /* Center text within the <span> */
	flex-direction: column; /* Stack items vertically (if you have multiple items) */
	padding: 2rem; /* Add padding as needed */
  }
  /* .row > .imp-medium {
    order: -1;
} */