.decoration-width {
    width: calc(100vw - 5vw);
}
.deco-title {
    color: #000;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}
.deco-desc {
    font-family: "Poppins-Regular", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    flex-shrink: 0;
    /* width: 507px; */
    justify-content: center;
}
.image-deco {
    width: 468px;
    height: 664px;
    background: url("./../../assets/images/decorations/cat-back.png"), lightgray 50% / cover no-repeat;
}
.image-wrapper {
    /* padding: 0.5em; */
    display: flex;
    justify-content: center;
}
.img-box {
    width: auto;
    height: 95%;
    border-radius: 0 0 10px 10px;
    aspect-ratio: 1;
}

.buttonDeco-wrapper {
    text-align: center;
    /* margin-top: 5rem; */
}