*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
body, input, select, textarea {
  font-size: 1.5rem;
  font-family: 'Poppins',helvetica, arial;
}
#root {
  height: 100vh;
  margin: 0;
}
.ff-pop {
  font-family: 'Poppins', sans-serif;
}
.ff-itali{
  font-family: 'Italianno', cursive;
}
a:hover {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #405;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* custom */
.content {
  display: flex;
  /* flex-wrap: wrap; */
}
.main {
  flex: 3 50rem;
}
.sidebar {
  flex: 1 20rem;
}
.tst{
  border: 1px solid #000;
}
.footer-wrapper {
  font-size: 0.9rem;
  display: block;
}
/* height */
.h-15 {
  height: 15vh;
}
.h-20 {
  height: 20vh;
}
.h-40 {
  height: 40vh;
}
.h-50 {
  height: 50vh;
}
.h-60 {
  height: 60vh;
}
.h-70 {
  height: 70vh;
}
.h-75 {
  height: 75vh;
}
.h-80 {
  height: 80vh;
}

/* card decoration */
.card-deco-wrapper {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  margin: 8vh auto 4vh;
}
.f-right {
  justify-content: flex-end;
}
.f-right-border {
  border-radius: 15px 0 0 15px;
}
.f-left-border {
  border-radius: 0 15px 15px 0;
}
/* buttons */
.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 10px;
}
.button:hover {
  border: 0.1rem #808080 solid;
}
.button.primary {
  background-color: #f0c040;
}
.button-default-style {
  
}
